  /*--EVENT--*/
  .row > .column {
    padding: 0 8px;
} 
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 25%;
}
h2, h1{
    color: #FF00FF;
}
.carousel{
    margin: 5px 300px 5px 300px;
}
@media (max-width:900px) {
    .carousel{
      margin: 5px 160px 5px 160px;
    }
}
@media (max-width:600px) {
    .carousel{
      margin: 5px 60px 5px 60px;
    }
}

  /*----Description----*/
.content{
    margin-left: 20px;
    margin-top: 30px;
}
.content img{
    margin-left: 490px;
}
.content1 li{
    margin-left: 50px;
    margin-right: 50px;
}
.card a{
    color: #00c531;
}
.card a:hover{
    color:#FF00FF;
}

      /*----Top view----*/
table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
    margin-left: 205px;
}
th, td {
    text-align: left;
    padding: 16px;
}
.id, .view, .like, .dislike{
    width: 60px;
}