body{
    background: url(https://www.itl.cat/pngfile/big/14-148942_hnh-nn-thnh-ph-p-night-city-wallpaper.jpg) no-repeat;
    background-size: cover;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Modal Content/Box */
.sign-up {
  background: url(https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/264233075_198701699133333_5709142110161903141_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=YnIHxrLCHP8AX96r9nn&_nc_ht=scontent.fsgn2-6.fna&oh=03_AVJNgDKqKtPoCwoY2cHpqZoRdvIyjEHxSm42iWy_tbrTpw&oe=624E1254);
  background-size: cover;
  margin: 8% auto 15% auto; 
  border: 1px solid #888;
  width: 455px; 
  height: 550px;
}
h1{
  color: white;
  margin-bottom: 45px;
}
.sign-u {
  border: none;
  width: 89%;
  margin-left: 55px;
  padding: 10px 20px;
  display: block;
  width: 300px;
  height: 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
}
label, p{
  font-family: 'Montserrat', sans-serif;
  color: gray;
  margin-left: 60px;
  margin-top: 8px;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease-in-out;
}
input{
  color: #fff;
}
 
/* Set a style for all buttons */
.button {
  border-radius: 50px;
  background-color: #00CC00;
  margin-top: 5px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 3px;
  width: 200px;
  height: 53px;
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #888;
  color: #fff;
  font-size: 25px;
  margin-top: 5px;
  border-radius: 50px;
  width: 80px;
  height: 55px;
}
.cancelbtn:hover{
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}